@font-face {
    font-family: 'Inter';
    src: local(Inter), local(inter), url(Inter-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Inter';
    src: local(Inter), local(inter), url(Inter-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'Inter';
    src: local(Inter), local(inter), url(Inter-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal
}
